.coverimg
    height: 100vh
    width: 100%
    position: absolute
    top: 0
    right: 0
    overflow: hidden
    z-index: -1
    background-image: url(../img/autopartscover.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-color: $blue
    background-blend-mode: multiply
    img
        width: 100%
        height: 100%
        object-fit: cover

.header
    color: #fff
    position: fixed
    top: 0
    right: 0
    width: 100%
    z-index: 3
    // background-color: rgba($blue, .9)
    &__info
        padding: 0 30px
        height: 36px
        // backdrop-filter: blur(30px)
        // --webkit-backdrop-filter: blur(30px)
        background-color: rgba(255, 255, 255, .18)
        position: relative
        display: flex
        justify-content: center
        align-items: center
        // @-moz-document url-prefix()
        //     &::after
        //         content: ''
        //         position: absolute
        //         top: 0
        //         display: block
        //         right: 0
        //         width: 100%
        //         height: 100%
        //         background-color: rgba(255, 255, 255, 0.11)
        //         filter: blur(30px)
        //         z-index: -1
        font-family: crreg
        @include font(13px, 14px)
        @include plus1025()
            justify-content: space-between

        &__hr
            display: inline-block
            margin: 0 16px
            width: 1px
            height: 20px
            background-color: rgba(#fff, .5)
            border-radius: 100px

        &__left
            display: flex
            align-items: center
            a
                transition: color .1s ease
                &:hover
                    color: $yellow
                    transition: color .1s ease
        &__right
            display: none
            align-items: center
            @include plus1025()
                display: flex
            
            &__authorization, &__registration
                font-family: crcaps
                margin-right: 12px
                display: flex
                align-items: center
                cursor: pointer
                transition: color .1s ease-out
                svg
                    margin-right: 10px
                    path
                        transition: fill .2s ease-out
                &:hover
                    color: $yellow
                    svg path
                        fill: $yellow
            &__registration
                transform: translateY(2.3px)


    &__bottom
        padding: 0 30px
        height: 116px
        display: flex
        align-items: center
        justify-content: center
        background-color: rgba($black, .49)
        @include plus1025()
            justify-content: space-between
        &__nav
            flex-grow: 1
            display: none
            align-items: center
            justify-content: flex-end
            @include plus1025()
                display: flex
            .searchbar
                flex-shrink: 1
                flex-grow: 1
                max-width: 375px
                height: 48px
                margin: 0 32px
                .searchbarMobile
                    height: 36px
                    width: 36px
                    .searchbarMobile__box
                        width: 100%
                        height: 100%
            &__ul
                display: grid
                grid-template-columns: repeat(4, auto)
                align-items: center
                grid-gap: 32px
                font-family: crbldcaps
                @include font(15px, 25px)
                li
                    transition: color .1s ease
                    &.active, &:active    
                        color: $yellow
                    &:hover
                        @include plus1025()
                            color: $yellow

        &__shoppingcart
            margin-left: 37px
            display: none
            position: relative
            
            @include plus1025()
                display: unset
            > svg path
                cursor: pointer
                &:nth-child(2)
                    transition: fill .2s ease-outs
            &:hover
                > svg path
                    &:nth-child(2)
                        fill: $yellow

            &.toggled
                @include plus1025()
                    .header__bottom__shoppingcart__popup
                        height: 375px
                        opacity: 1
            &__popup
                position: absolute
                z-index: 999
                display: none
                right: 0
                top: 62px
                width: 594px
                background-color: #fff
                color: $black
                border-radius: 8px
                overflow: hidden
                opacity: 0
                height: 0
                transition: .3s ease-in
                @include plus1025()
                    display: flex
                &__inner
                    display: flex
                    flex-direction: column
                    width: 100%
                    height: 100%
                    padding: 48px 10px 24px 24px
                    h4
                        font-family: crbldcaps
                        @include font(15px, 16px)
                        margin-bottom: 27px
                &__ul
                    flex-grow: 1
                    display: grid
                    grid-auto-rows: 79px
                    grid-gap: 12px
                    margin-bottom: 42px
                    overflow: auto
                    height: 30%
                    scrollbar-width: thin
                    scrollbar-color: $blue $yellow

                    &::-webkit-scrollbar 
                        width: 5px
                        background-color: #F2F2F2
                    &::-webkit-scrollbar-track
                        background-color: $blue
                        border-radius: 10px
                    &::-webkit-scrollbar-thumb
                        background-color: $yellow
                        border-radius: 10px
                    
                    &__li
                        display: flex
                        height: 100%
                        width: 100%
                        align-items: center
                        justify-content: space-between
                        padding-right: 10px
                        &__imgbox
                            height: 100%
                            width: 79px
                            overflow: hidden
                            display: flex
                            border-radius: 8px
                            img
                                width: 100%
                                height: 100%
                                object-fit: cover
                        &__mid
                            max-width: 192px
                            h5
                                font-family: crbldcaps
                                @include font(14px, 15px)
                                margin-bottom: 12px
                                @include maxcolumn(1)
                            &__bottom
                                font-family: crreg
                                @include font(13px, 14px)
                                color: #C5C5C5
                                span
                                    color: $black
                                &__codename
                                    margin-bottom: 4px
                        &__form
                            display: flex
                            align-items: center
                            color: $black

                            &__controls
                                display: flex
                                align-items: center
                            &__minus, &__plus
                                width: 24px
                                height: 24px
                                display: flex
                                justify-content: center
                                align-items: center
                                cursor: pointer
                            &__minus
                                span
                                    display: inline-block
                                    min-width: 10px
                                    min-height: 2px
                                    background-color: $black
                            &__plus
                                position: relative
                                &__one, &__two
                                    display: block
                                    min-width: 10px
                                    min-height: 2px
                                    background-color: $black
                                &__two
                                    transform: translate(-50%, -50%) rotate(90deg)
                                    position: absolute
                                    top: 50%
                                    left: 50%
                                    // right: 50%

                            input
                                display: flex
                                justify-content: center
                                align-items: center
                                text-align: center
                                width: 37px
                                height: 32px
                                background-color: #F5F5F5
                                border-radius: 8px
                                font-family: crbldcaps
                                @include font(15px, 16px)
                                margin: 0 8px

                            
                            &__price
                                display: flex
                                justify-content: center
                                align-items: center
                                padding: 0 5px
                                border-radius: 8px
                                height: 48px
                                min-width: 67px
                                background-color: #F5F5F5
                                font-family: crbldcaps
                                @include font(15px, 16px)

                        &__removebtn
                            cursor: pointer



                &__link
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 8px
                    background-color: rgba($yellow, 1)
                    transition: background-color .1s ease-out
                    @include font(15px, 16px)
                    font-family: crbldcaps
                    color: $black
                    width: 198px
                    height: 48px
                    &:hover
                        background-color: rgba($yellow, .8)
                        transition: background-color .1s ease-in
            
            &__number
                position: absolute
                top: -3px
                right: -3px
                display: flex
                justify-content: center
                align-items: center

                font-family: cr2019bld
                @include font(8px, 8px)

                width: 14px
                height: 14px
                border-radius: 50%
                border: 1px solid #fff
                background-color: $red

.languagebar
    font-family: crbldcaps
    width: 44px
    top: 6px
    height: auto
    z-index: 1
    position: relative
    align-self: flex-start
    span
        display: block
        text-align: center
        margin-bottom: 8px
    &__ul
        right: 0
        width: 100%
        z-index: 1
        flex-direction: column
        align-items: center
        border-radius: 8px
        background-color: $black
        padding: 0
        overflow: hidden
        display: flex
        height: 0
        transition: none
        li 
            text-align: center
            margin-bottom: 10px
            transition: color .1s ease
            a
                @include font(15px, 16px)
                transition: font-size .1s ease-out
            &.active
                display: none
            &:hover
                color: $yellow
    &__active
        color: #fff
        transition: .1s ease-out
        cursor: pointer

    &:hover
        top: 34px
        height: 80px
        .languagebar__active
            color: $yellow

        .languagebar__ul
            height: unset
            padding: 10px
            padding-bottom: 0
            li
                a
                    @include font(13px, 14px)
                
    &__bottom
        padding: 0 30px


.header__info__right__authorization__text
    transform: translateY(2.3px)