.productsMain
    display: grid
    grid-gap: 30px
    padding: 0 30px
    padding-top: 20px
    padding-bottom: 113px
    @include plus1025()
        grid-gap: 72px
        padding: 0 36px
        padding-top: 16px
        padding-bottom: 52px
        grid-template-columns: 31.95% 1fr
        grid-gap: 24px
        min-height: calc( 100vh - 376px )

    *
        transition: .1s ease
    &__categories
        width: 100%
        &__ul
            width: 100%
            display: grid
            grid-gap: 10px
            @include plus1025()
                grid-gap: 24px
            &__li
                background-color: #fff
                border-radius: 8px
                height: 64px
                display: flex
                flex-direction: column
                width: 100%
                overflow: hidden
                padding: 0 16px
                padding-top: 0
                white-space: nowrap
                span
                    cursor: pointer
                    display: flex
                    align-items: center
                    justify-content: space-between
                    margin-top: 20px
                    margin-bottom: 20px
                    &::after
                        display: flex
                        width: 24px
                        height: 24px
                        justify-content: center
                        align-items: center
                        content: url(../img/filter-arrow.svg)
                        transform: rotate(0deg)
                &.toggled
                    height: var(--maxheight)

                    span
                        margin-bottom: 28px
                        &::after
                            transform: rotate(180deg)
                &__ul
                    display: grid
                    grid-gap: 8px
                    width: 100%
                    height: max-content
                    &__li
                        display: flex
                        align-items: center
                        height: 48px
                        width: 100%
                        border-radius: 8px
                        background-color: rgba(#20489D, .5)
                        color: #fff
                        padding: 0 20px
                        cursor: pointer
                        &.active, &:hover
                            background-color: #20489D

    &__content
        width: 100%
        display: grid
        grid-template-columns: 100% 100%
        grid-template-rows: 74px auto
        overflow: hidden
        position: relative
        @include plus1025()
            grid-template-rows: 84px auto

        &__filter

            opacity: .5
            width: 100%
            border-radius: 8px
            overflow: hidden
            height: 64px
            background-color: #fff
            padding: 20px 16px
            @include font(15px, 16px)
            color: #444444
            font-family: crbldcaps
            position: relative
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16)
            margin-bottom: 10px
            @include plus1025()
                margin-bottom: 24px


            &__ul
                display: grid
                grid-gap: 0px
                width: 100%
                li
                    cursor: pointer
                    display: flex
                    height: 24px
                    align-items: flex-end
                    opacity: 0
                    &.active 
                        opacity: 1
                        order: -1
            &__arrow
                &::after
                    position: absolute
                    top: 20px
                    right: 20px
                    cursor: pointer
                    
                    width: 24px
                    height: 24px
                    content: url(../img/filter-arrow.svg)
                    transform: rotate(0deg)
                    transition: transform .2s ease-out
            &.toggled
                opacity: 1
                z-index: 2
                height: 108px
                .productsMain__content__filter__ul
                    grid-gap: 20px
                    li
                        opacity: 1
                        &:hover
                            color: $black
                        &.active
                            pointer-events: none
                .productsMain__content__filter__arrow
                    &::after
                        transform: rotate(180deg)

        &__categories
            grid-column: 1 / 2
            transform: translateX(0)
            &__ul
                display: grid
                grid-gap: 10px
                grid-template-columns: repeat(2, 1fr)
                grid-auto-rows: 182px
                @include plus700()
                    grid-gap: 16px
                    grid-template-columns: repeat(3, 1fr)
                @include plus1025()
                    grid-gap: 24px    
                    grid-template-columns: repeat(4, 1fr)

                &__li
                    display: flex
                    flex-direction: column
                    width: 100%
                    height: 100%
                    background-color: #fff
                    border-radius: 8px
                    cursor: pointer

                    &:hover
                        img
                            transform: scale(1.2)
                    &__imgbox
                        padding: 20px
                        padding-bottom: 18px
                        overflow: hidden
                        img
                            width: 100%
                            height: 100px
                            object-fit: scale-down
                            transition: .3s

                    h2
                        font-family: crbldcaps
                        @include font(12px, 12px)
                        @include maxcolumn(2)
                        text-align: center

        &__parts
            transform: translateX(0)
            &__ul
                @include plus1025()
                    height: max-content
                    display: grid
                    grid-template-columns: repeat(3, 1fr)
                    grid-gap: 16px
                &__li
                    background-color: #fff
                    @include plus1025()
                        width: 100%
                    img, h3
                        cursor: pointer
                    
        &.loaderon
            .loader
                opacity: 1
                width: 30%
                height: 30vh
                z-index: 999
    &.prts
        .productsMain__content__categories, .productsMain__content__parts
            transform: translateX(-100%)

    .topProducts__slider
        @include plus1025()
            height: auto

    .loader
        position: fixed
        bottom: 50%
        left: 50%
        transform: translate(-50%, 50%)
        z-index: -999
        background: $yellow
        // background-image: linear-gra
        display: flex
        justify-content: center
        align-items: center
        border-radius: 8px
        
        opacity: 0
        width: 0
        height: 0

        transition: z-index .1s .1s linear, all .1s ease-out

        // opacity: 1
        // width: 100%
        // height: 100vh
        
.modalbg
    position: fixed
    top: 0
    right: 0
    width: 0
    height: 0
    opacity: 0
    overflow: hidden
    z-index: -999
    background-color:  rgba(0, 0, 0, 0.3)
    backdrop-filter: blur(10px)
    &.shown
        opacity: 1
        z-index: 100    
        width: 100%
        height: 100vh
.productModal
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border-radius: 12px
    background-color: #fff
    min-height: max-content
    display: flex
    overflow: hidden
    flex-direction: column
    width: 0
    height: 0
    opacity: 0
    z-index: -999
    transition: z-index .3s .3s, opacity .3s ease-out, width .3s ease-out, height .3s ease-out
    @include plus700()
        max-width: 594px
    &.shown
        width: calc( 100% - 60px )
        height: 60%
        opacity: 1
        z-index: 101  
        transition: z-index 0s, opacity .3s ease-out, width .3s ease-out, height .3s ease-out
        @include plus700()
            height: 488px
    &__X
        position: absolute
        right: 20px
        top: 20px
        content: url(../img/closemodal.svg)
        cursor: pointer
    &__top
        padding: 20px
        padding-top: 47px
        padding-bottom: 20px
        width: 100%
        @include plus700()    
            display: grid 
            grid-template-columns: 1fr 1fr
            grid-gap: 24px
            padding-top: 20px
            padding-bottom: 32px
        &__imgbox
            width: 100%
            height: 148px
            img
                width: 100%
                height: 100%
                object-fit: scale-down
        &__maininfo
            font-family: crbldcaps
            @include plus700()
                display: flex
                flex-direction: column
                justify-content: center
            h1
                @include font(15px, 16px)
                margin-bottom: 10px
            &__price
                @include font(24px, 25px)
                
    &__bottom
        flex-grow: 1
        width: 100%
        background-color: #F5F5F5
        padding: 20px
        h2
            font-family: crbldcaps
            @include font(15px, 16px)
            margin-bottom: 20px
        &__ul
            display: grid
            grid-gap: 4px
            width: 100%
            grid-auto-rows: 32px
            li
                display: flex
                align-items: center
                justify-content: space-between
                height: 100%
                width: 100%
                border-radius: 8px
                background-color: #fff
                color: $black
                @include font(13px, 14px)
                font-family: crcaps
                padding-left: 8px
                padding-right: 8px
                @include plus700()
                    padding-right: 16px

                    