.searchbar
    border-radius: 8px
    background-color: #fff
    padding-left: 24px
    padding-right: 7px
    display: flex
    align-items: center
    height: 100%
    display: none !important
    input
        flex-grow: 1
        font-family: crreg
        @include font(15px, 25px)
        color: $black
    &__container
        height: 64px
        display: none !important
        margin: 0 auto
        margin-top: calc( (100vh / 2) - 32px)
        transition: margin-top .3s .3s linear
        &.nothmpg
            height: 0
            animation: flex
            overflow: hidden
            transition: margin-top .3s .3s linear
            position: fixed


