@import fonts
@import _variables
@import defaults

// components
@import header
/* UC */
@import searchbar
/* /UC */
@import homepage_brands
@import homepage_deliveryservice
@import homepage_topproducts

@import footer
@import addproductmessage
@import responsivemenu

@import filters
@import navinfo

@import cartpage



.result
    width: 100%
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-color: #DDD8C3


    &__content
        background-color: #fff
        width: calc( 100% - 60px )
        max-width: 390px
        border-radius: 8px
        color: $black
        padding: 48px 24px 22px

        display: flex
        flex-direction: column
        align-items: center

    * 
        text-align: center
    h1
        font-family: crbldcaps
        @include font(15px, 16px)
        margin-bottom: 24px

    &__text
        font-family: crreg
        @include font(15px, 25px)
        margin-bottom: 12px
        text-align: center

    &__mail, &__accountnumber
        color: $blue
        font-family: crbldcaps
        @include font(15px, 25px)
        margin-bottom: 26px
        cursor: pointer

    &__account
        font-family: cr2019bld
        @include font(15px, 25px)
        margin-bottom: 12px

    &__accountnumber
        margin-bottom: 42px

    &__invoice
        margin-bottom: 12px

    &__goback
        width: 100%
        height: 48px
        color: $yellow
        display: flex
        justify-content: center
        align-items: center
        
    &.buyresult
        h1
            color: $green
            .fail
                display: none
        .result__content   
            display: flex
            flex-direction: column
            justify-content: space-between
            min-height: 424px

        &.failed
            h1
                color: $red
                .fail
                    display: inline
                .suc
                    display: none

            .result__invoice
                display: none
    &__btns
        width: 100%